CompileFlags:
  Add:
    - -ferror-limit=0
    - -I/home/kisaki/Documents/programming/mggj14/include
    - -I/home/kisaki/Documents/programming/mggj14/lib/raylib/src
    - -I/home/kisaki/Documents/programming/mggj14/lib/rres/src
